<div class='row comment'>
    <div>
      <%= comment.content %>
      <br />
    </div>
<div>
  <% unless comment.approved? %>
    <div>
      <%= link_to 'Accept', [@article, comment], method: :patch, class: 'button' %> |
      <%= link_to 'Deny', [@article, comment], method: :delete, class: 'button' %>
    </div>
  <% end %>
</div>


