      <div class="row">
        <div class="large-12 columns">
          <div class="nav-bar right">
           <ul class="button-group">
             <li><a href="#" class="button">Blog</a></li>
             <li><a href="#" class="button">Posts</a></li>
             <li><a href="#" class="button">Link 3</a></li>
             <li><a href="#" class="button">Link 4</a></li>
            </ul>
          </div>
          <h1>Blog <small>Life Derailed, Adventures in Ruby</small></h1>
          <hr/>
        </div>
      </div>
